* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Play', sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.App {
  width: 1200px;
}