* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Play', sans-serif;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  position: relative;
}

.App {
  width: 1200px;
}

/* .App::after {
  bottom: -20px;
  height: 30px;
  width: 30px;
  left: 40px;
  position: absolute;
  content: "";
  border-bottom: 2px solid white;
  filter: drop-shadow(0 0 8px #fff);
} */

/* /img/15.jpg */