@import "./presentational/_variables";

.aboutSectionFix {
  width: $head-width;
  height: 770px;
}

.aboutSection {
  width: 1200px;
  height: 650px;
  background-color: $col-primary;
  position: relative;
  color: $col-shining;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}



.aboutSection::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 1200px;
  border-color: transparent transparent $col-primary transparent;
  top: -60px;
  z-index: 6;
}

.aboutSection::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1200px 60px 0;
  border-color: transparent $col-primary transparent transparent;
  bottom: -60px;
  z-index: 6;
}

.aboutTitle {
  font-size: 60px;
  margin: 30px 0;
}

.aboutUndeline {
  @include undelineTitle;
}

.aboutAnim {
  animation: fadein 3s linear;
  width: 80%;
  margin-top: 20px;
  text-align: justify;
}

.hobbiesSection {
  animation: fadein 3s linear;
  width: 80%;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.hobbies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px;
}

.hobbie {
  width: 380px;
  height: 310px;
  background-color: $box-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.numberSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberCounter {
  font-size: 44px;
  width: 190px;
  text-align: center;
  margin-top: 20px;
}

.descriptionSectionHobbie {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobbieText {
  width: 190px;
  text-align: center;
  padding: 20px 10px;
}

.hobbieLogo {
  height: 150px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}