@import "./presentational/_variables";

.headerSectionFix {
  position: relative;
  width: $head-width;
  height: 750px;
}

.headerSection {
  width: $head-width;
  height: $head-height;
  position: fixed;
  display: flex;
  justify-content: center;
  margin-bottom: 52px;
  background-color: black;
}

.headerSection::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px $head-width;
  border-color: transparent transparent black transparent;
  /* box-shadow: -4px -10px 5px 0px black; */
  bottom: -8%;
  z-index: 6;
}

.scrollArea {
  position: absolute;
  width: $head-width;
  height: 698px;
  top: 0;
  z-index: 5;
  background-color: black;
  opacity: 0;
  filter: grayscale(0);
}

.nightSkyPic {
  position: absolute;
  left: 0;
  width: $head-width;
  height: $head-height;
  overflow: hidden;
}

.nightSky {
  width: 2400px;
  height: 575px;
  position: absolute;
  left: 0;
  background-image: url("https://krzychu700.github.io/myPortfolio/img/stars3.jpg");
  animation: rotateAnim;
  animation-duration: 10000s;
  animation-iteration-count: infinite;
  background-size: contain;
  animation-timing-function: linear;
}

.canvasSection {
  width: $head-width;
  height: $head-height;
  z-index: 2;
  opacity: 0.9;
}

.canvasSection::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: 1px solid black;
  top: 0;
  width: $head-width;
  height: $head-height;
}

canvas {
  width: 100%;
}

.bcgPicture {
  width: $head-width;
  position: absolute;
  height: $head-height;
  bottom: -8%;
  display: flex;
  align-items: flex-end;
}

.headerImg {
  width: $head-width;
  object-fit: cover;
  z-index: 4;
}

.headerTextArea {
  top: 10%;
  left: 10%;
  width: 730px;
  flex-wrap: wrap;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.headerTextAreaPara {
  display: flex;
  justify-content: flex-start;
}

.nameText1 {
  color: white;
  max-width: 155px;
  font-size: 40px;
}

.nameText2 {
  max-width: 880px;
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.nameText3 {
  max-width: 800px;
  color: white;
  font-size: 35px;
}

.cursor {
  opacity: 0;
  transition: 0.2s;
  color: white;
}

.cursor.active {
  opacity: 1;
}

.cursor1 {
  font-size: 40px;
}

.cursor2 {
  font-size: 60px;
}

.cursor3 {
  font-size: 35px;
}

.hide {
  display: none;
}

.arrowAnim {
  position: absolute;
  bottom: 3px;
  color: white;
  font-size: 30px;
  z-index: 4;
  animation: shakes 2s linear infinite;

}

@keyframes rotateAnim {
  from {
    background-position: 0%;
  }

  to {
    background-position: 1200%;
  }
}

@keyframes shakes {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }

  to {
    transform: translateY(10px);
    opacity: 1;
  }
}