@import "./presentational/_variables";

.portfolioSectionFix {
  width: $head-width;
  height: 1050px;
}

.portfolioSection {
  width: 1200px;
  height: 1000px;
  background-color: $col-primary;
  position: relative;
  color: $col-shining;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.portfolioSection::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 60px 1200px;
  border-color: transparent transparent $col-primary transparent;
  top: -60px;
  z-index: 6;
}

.portfolioSection::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 1200px 60px 0;
  border-color: transparent $col-primary transparent transparent;
  bottom: -60px;
  z-index: 6;
}

.portfolioTitle {
  font-size: 60px;
  margin: 30px 0;
}

.portfolioUndeline {
  @include undelineTitle;
}

.portfolioAnim {
  animation: fadein 5s linear;
  width: 80%;
  margin-top: 20px;
  text-align: justify;
}

.portfolioExampleArea {
  display: flex;
  justify-content: center;
  width: 100%;
  animation: fadein 3s linear;

  &--selected {
    justify-content: space-around;
  }
}

.portfolioExample {
  height: 200px;
  width: 200px;
  margin: 10px;
  position: relative;
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadein 3s linear;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  z-index: 2;

  &--selected {
    display: none;
  }

  &:hover {
    transform: scale(1.2);
    z-index: 10;
    cursor: pointer;
    opacity: 1;
  }
}

.imgPortfolioDetails {
  width: 450px;
  max-height: 700px;
  position: absolute;
  left: -480px;
  object-fit: contain;
}

.usedTechnologies {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 10px 0 30px;
  position: relative;
}

.projectHideInfo {
  display: none;
}

.usedTechnologiesButton {
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 2px solid #fff;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;

  &:hover {
    color: white;
    box-shadow: 0 0 30px 0 transparentize($col-primary, 0.5);
    background-color: $col-primary;
    transition: all 0.2s ease-out;
    filter: drop-shadow(0 0 8px #fff);

    &:before {
      animation: shine 0.5s 0s linear;
    }
  }
}

.textToGithub {
  position: absolute;
  top: 70px;
  right: 30px;
  font-style: italic;
  display: flex;
  align-items: center;

  i {
    margin: 5px 10px;
    font-size: 30px;
  }
}

.examplesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  background-color: $box-color;
  padding: 20px;
}

.projectName {
  margin: 15px 0;
  font-size: 30px;
}

.projectDescription,
.projectTechnologies {
  margin: 10px 0;
}

.projectLive {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.projectGithub {
  margin: 0 10px;
  font-size: 30px;
}

.portfolioImg {
  width: 120%;
  height: 100%;
  object-fit: cover;
}

.portfolioDetailsArea {
  height: 410px;
  width: 700px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: $box-color;
  position: relative;
  animation: fadein 3s linear;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}